*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-nav .container-fluid{
    background-color: #f5f5f5;
}
#top-nav .container-fluid h6{
    margin-top: 18px;
}
#main-nav {
    padding-top: 10px;
    background-color: rgba(198, 200, 202, 0.23);
    padding-left: 15%;
}

.container-fluid {
    padding-right: 30px;
}
.navbar-brand{
    height: 100%;
}
.navbar-brand img {
    max-height: 100px;
    padding-bottom: 15px;
}
.navbar{
    margin-bottom: 0px;
}

#logo{
    float: left;
}
.navbar-right {
    padding-right: 10% !important;
    float: right;
}

.row {
    height: 100%;
}

.navbar-nav > li > a {
    color: #000000;
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.navbar-nav > li > a:hover {
    background-color: #4398D2;
    color: white;
}

/*main-menu*/
#main-menu {

}

.nav-pills > li > a {
    border-radius: 0px;
}

.navbar-collapse > ul > li > a {
    color: white !important;
    padding-left: 10px;
}

.navbar-collapse > ul > li:hover > a{
    background-color: #4398D2!important;
}

/*#navbar-menu {*/
    /*background-color: #3b5998;*/
/*}*/

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}
/*main-menu*/
#bs-example-navbar-collapse-1 {
    /*color bottom-nav*/
    background-color: #3b5998;
    color: white;
    padding-left: 15%;
}
/*sub-menu*/

.dropdown-menu{
    background-color: #4398D2;
    padding: 0;
}

.dropdown-menu>li{
    height: 50px;

}
.dropdown-menu>li>a{
    height: 100%;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    text-align: left;

    line-height: 30px;

}
.fa .fa-star-o{
    color: yellow!important;
}
/*search*/
.search-box {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    height: 50px;

}

.search-box input#search {
    border: black solid 1px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
    width: 100%;
    height: 80%;
    background: white;
    border: none;
    font-size: 11pt;
    color: black;
    float: left;
    padding-left: 15%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}

.search-box button {
    height: 100%;
    border: 0px;
    background: transparent;
}

.search-box .icon {
    color: #2b542c;
    height: auto;
    position: absolute;
    top: 20%;
    left: 3%;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.search-box input#search:focus, .container-3 input#search:active {
    outline: none;
}

.search-box:hover .icon {
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -moz-transform: scale(1.2); /* Firefox */
    -ms-transform: scale(1.2); /* IE 9 */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}
/*noi dung chinh*/
#content{

    padding-bottom: 50px;
    background-color: white;
}
.image-gallery{
    height: 400px;
    overflow: hidden;
}
.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
/*menu-sidebar*/
.menu-sidebar>div> a{
    width: 100%;
    text-decoration: none;

}
.menu-sidebar span{
    color: black;
    width: 100%;
    font-weight: 600;
}
.menu-sidebar{
    list-style-type: none;


}
.menu-sidebar>div{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 11px 15px;
    font-weight: normal;
    text-transform: uppercase;
    background: #FFD034;
    letter-spacing: 1px;
}
.menu-sidebar>div:before{
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 3px;
}


.box-menu>li>a{
    display: inline-block;
    width: 100%;
    text-decoration : none;
    color: black;
    line-height: 20px;
}
.box-menu>li:last-child{
    box-shadow: none;
}
.box-menu>li{
    overflow:hidden !important;
    height: 40px;
    padding: 10px 0;
    white-space: nowrap;

    text-overflow: ellipsis;
    box-shadow: 0 1px 0 #167ac6, 0 2px 0 #FFFFFF;
}
.box-menu{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-left:  15px;
    padding-right:  15px;
    font-weight: normal;
    background: #f5f5f5;
    letter-spacing: 1px;
}
.main-content{
    padding-top: 58px;
}
.item{
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.18),0 0 15px 0 rgba(0,0,0,0.15);
}
.item>img{
    position: relative;
}
.discount-item{
    position: absolute;
    top: 4%;
    right: 7%;
    z-index: 1;
}
.discount-value{
    position: absolute;
    top: 25%;
    right: 11px;
}

.item:hover .item-price{
    display: block;
}
.item-price{
    display: none;
    z-index: 100;
    position: absolute;
    top:0;
    left: 0;
}
.item-title{
    text-align: center;
    background-color: white;
}
.item-title>a{
    text-align: center;
    line-height: 40px;
    text-transform:uppercase;
    font-size: 20px;
    text-decoration: none;
}
.item-detail{

}
.add_to-cart{
    background-color:  #ff6600;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    box-shadow: none;
    line-height: 40px;
    margin: 20px auto;
    text-align: center;
}
.add_to-cart:hover{
    background-color: #3b5998;
    color: #FFFFFF;
    cursor: pointer;
}
@media(max-width:768px){
    #content{
        padding-left: 8.333333%;
    }
}
/*#sanphamnoibat{*/
    /*box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);*/
/*}*/
.title-sanpham a:before {
    content: "";
    position: absolute;
    top:0;
    left: -20px;
    width: 0;
    height: 0;
    border-color: transparent  rgba(237, 37, 83, 0.84) transparent transparent;
    border-style: solid;
    border-width: 20px 20px 20px 0;
}

.title-sanpham a:after{
    content: "";
    position: absolute;
    top: 17px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
.title-sanpham> a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0 16px 8px 30px;
    padding: 0 10px 0 12px;
    background: rgba(237, 37, 83, 0.84);
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;

    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: 500;
}
#sanphamkhuyenmai{
    padding-top: 40px;
    padding-right: 8.3333333%;
    padding-left:8.3333333%;
}
#maybaymohinh{
    padding-top: 40px;
    padding-right: 8.3333333%;
    padding-left:8.3333333%;
}
.item>a>img{
    width: 100%;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.item{
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 2*8.3333333% !important;
}
.info-item{
    /*height: 350px;*/
    overflow: hidden;
}









.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #222428;
    color: #919294;
}
.icon-social>a>i{
    width: 40px;
    height: 40px;
    margin: auto;
}

.footer>a>i{
    width: 100%;
}
.left-panel{

    display: flex;
    flex-flow: column nowrap;

}
.left-panel img {
  float: right;
}
