body {
	font-family: arial,sans-serif;
}
a:link {
	color: black;
}
a:visited {
	color: red;
}
a:hover {
	color: blue;
}
a:active {
	color: green;
}
#content {
	text-align: center;
}
#content img {
	width: 300px;
	height: 250px;
	display: block;
	margin: auto;
	opacity: 1;
	transition: all 1s linear;
}
#content img:hover {
	opacity: 0.5;
}


h1 {
	font-size: 80px;
	font-family: cursive;
	text-align: center;
}