
h1{
	text-align: center;
	margin:auto;
	
	background: orange;
	font-size:1.5em;
}
.wrap{
	max-width: 1000px;
	margin:auto;
	position:relative;

}
#menu{
	margin-left:10%;
    position:absolute;	
	margin-top:33px;
}
#menu1{	
	margin-left:78%;
    position:absolute;	
	margin-top:33px;
}
.main-menu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.main-menu{
	z-index: 1;
	height: 190px;
	padding-top: 24px;
    position:absolute;
	margin-top:83px;
	margin-left:7%;
	transition:0.5s;
	background-color: orange;
	width:0px;
	overflow: hidden;
}

.main-menu a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	line-height: 20px;
	padding:20px;
	display:block;	
}


.closebtn {
    position: absolute;
    top: -5px;
	right:1px;
    font-size: 36px !important;
    margin-left: 50px;
}
#thucdon{
	
    background-color: orange;
    border: solid 1px orange;
	top:374px;
	position:absolute;
	width:200px;
	margin-left:76%;
}
#thucdon a{
display: block;
text-decoration:none;
padding:20px;
font-size:20px;
color:black;
}
#thucdon{
display:none;
}

#main-content img{
	width:250px;
	height:200px;
	

}
#main-content img:hover{
	border-radius: 50%;

}

#banner img{
	width: 1000px;
	height:250px;

}
.box{
	border:1px solid purple;
	float: left;
	margin-top: 50px;	
	padding:10px;
	width: 250px;
	margin-left: 40px;
	height: 120%;
	box-shadow:10px 10px 5px #c68c53;

}
#main-content h2,p{
	text-align: center;
}
#main-content h2{
	text-decoration: underline;
}


.info{
	border-color:red;

}
.contact{
	border-color:blue;
}
.company{
	border-color:green;
}
.info span{
	color:red;
}
.monan img{
	width:400px;
	height:400px;
	margin-left:30%;
}
.monan{
	margin:auto;
}
h2,h3{
	text-align: center;
}
h2{
	text-decoration: underline;
}
#anh2{
	margin-left:30%;
	width:400px;
	height:400px;
}
p{
	font-size:20px;
}
.gioithieu img{
	width:1000px;
	height:300px;
}
.thongtin img{
	width:61%;
	height:300px;
	margin-left:18%;
}
#lentop img{
	position:fixed;
	bottom:50px;
	right:50px;
	width:50px;
}