
h1{
	text-align: center;
	margin:auto;
	animation:head 2s linear infinite;
	
	font-size:1.5em;
}
@keyframes head{
	0%{bachground-color:#f7a407;}
	25%{background-color:#1ff707;}
	50%{background-color:#07f7ed;}
	75%{background-color:#4f07f7;}
	100%{background-color:#f70795;}
}
.wrap{
	max-width: 1000px;
	margin:auto;
	position:relative;

}
#menu{
	margin-left:10%;
    position:absolute;	
	margin-top:33px;
}
#menu1{	
	margin-left:78%;
    position:absolute;	
	margin-top:33px;
}
.main-menu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.main-menu{
	z-index: 1;
	height: 190px;
	padding-top: 24px;
    position:absolute;
	margin-top:83px;
	margin-left:7%;
	transition:0.5s;
	background-color: orange;
	width:0px;
	overflow: hidden;
}

.main-menu a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	line-height: 20px;
	padding:20px;
	display:block;	
}


.closebtn {
    position: absolute;
    top: -5px;
	right:1px;
    font-size: 36px !important;
    margin-left: 50px;
}
#thucdon{
	
    background-color: orange;
    border: solid 1px orange;
	top:374px;
	position:absolute;
	width:200px;
	margin-left:76%;
}
#thucdon a{
display: block;
text-decoration:none;
padding:20px;
font-size:20px;
color:black;
}
#thucdon{
display:none;
}

#main-content img{
	width:250px;
	height:200px;
	

}
#main-content img:hover{
	border-radius: 50%;

}

#banner img{
	width: 1000px;
	height:250px;

}
.box{
	border:1px solid purple;
	float: left;
	margin-top: 50px;	
	padding:10px;
	width: 250px;
	margin-left: 40px;
	height: 120%;
	box-shadow:10px 10px 5px #c68c53;

}
#main-content h2,p{
	text-align: center;
}
#main-content h2{
	text-decoration: underline;
}


.info{
	border-color:red;

}
.contact{
	border-color:blue;
}
.company{
	border-color:green;
}
.info span{
	color:red;
}
.monan img{
	width:400px;
	height:400px;
	margin-left:30%;
}
.monan{
	margin:auto;
}
h2,h3{
	text-align: center;
}
h2{
	text-decoration: underline;
}
#anh2{
	margin-left:30%;
	width:400px;
	height:400px;
}
p{
	font-size:20px;
}
.gioithieu img{
	width:1000px;
	height:300px;
}
.thongtin img{
	width:61%;
	height:300px;
	margin-left:18%;
}
#lentop img{
	position:fixed;
	bottom:50px;
	right:50px;
	width:50px;
}
@keyframes title{
	from{left:70%;opacity:1;}
	to {left:10%;opacity:0;}

}
#gd{
	color:purple;
	font-size:15px;
	text-decoration:none;
	position:absolute;
	top:298px;
	animation:title 4s ease infinite;
	
}
@keyframes fade {
        50% {
            opacity: 0.02;
        }
}
.letter{
	position:absolute;
	font-size: 100px;
    top: 260px;
    left: 17%;
    color: white;
    text-shadow: 0 0 3px purple;

}

span:nth-child(1) {
        animation: fade 4s infinite 200ms;
}
span:nth-child(2) {
        animation: fade 4s infinite 600ms;
 }
span:nth-child(3) {
        animation: fade 4s infinite 800ms;
 }
span:nth-child(4) {
        animation: fade 4s infinite 1200ms;
}
span:nth-child(5) {
        animation: fade 4s infinite 1600ms;
}
span:nth-child(6) {
        animation: fade 4s infinite 2000ms;
}
span:nth-child(7) {
        animation: fade 4s infinite 2400ms;
}
span:nth-child(8) {
        animation: fade 4s infinite 2800ms;
}
span:nth-child(9) {
        animation: fade 4s infinite 3200ms;
}
span:nth-child(10) {
animation: fade 4s infinite 3600ms;
}
