img{
	width:21%;
	height: 160px;
	position:absolute;
	/*padding: 10px;*/
}
.wrap{
	width: 70%;
	margin:auto;
	border:2px solid red;
	position:relative;
	padding-left:2%;
	height:930px;
}
h1{
	color:green;
	text-align:center;
	text-decoration: underline
}
p{  margin-top:33px;
	padding-left:25%;
	font-size:18px;
	text-align: justify;
	text-indent: 20px;
	
}
div{
	margin:5px;
}
hr{
	margin-top:94px;
	width: 50%;
}

