h1{
	text-align: center;
	margin: auto;
	background: orange;
	font-size: 1.5em;
	border: 1px solid black;
	width: 76%;
	height: 50px;
	margin-left: 22%;
	padding-top: 21px;
}



.wrap{
	width: 79.06%;
	 margin: 0 auto;
	
   
   
}
.menu{
	position:absolute;
	border:1px solid orange;
	background:orange;
	margin-top:-10px;
	width: 270px;
}
#main-menu{
	
	padding-top: 24px;
	
}

#main-menu a{
	font-size: 20px;
	color:black;
	text-decoration: none;
	line-height: 20px;
	display:block;
	margin:64px;



}
#main-menu a.hover,a.active{
	color:black;
}
#main-menu a.active{
	font-weight: unset;
}
#main-menu >img{
	width: 300px;
	height:250px;
	border-radius:50%;
	position: absolute;
	left:12%;
	top: 175px;
	padding:4px;

	
	
}
#main-content img{
	width:100%;
	height:200px;
	

}
#main-content img:hover{
	border-radius: 50%;

}

#banner img{
	width: 100%;
	height:250px;

}
.box{
	border:1px solid purple;
	float: left;
	padding:10px;
	width: 20%;
	margin-top:100px;
	margin-left: 3%;
	height: 100%;
	box-shadow:10px 10px 5px #c68c53;

}
#main-content h2,p{
	text-align: center;
}
#main-content h2{
	text-decoration: underline;
}


.info{
	border-color:red;
	margin-left: 26%;

}
.contact{
	border-color:blue;
}
.company{
	border-color:green;
}
.info span{
	color:red;
}
#chat img{

	position: fixed;
	left:300px;
	bottom:100px;
	height: 80px;
}